

<div data-ng-controller="BlogsController" data-ng-init="findFollow()" xmlns="http://www.w3.org/1999/html">
    <a ng-click="goPost()" data-ng-href="#/blogs/{{blog.IdString}}" style="text-decoration: none">
        <div data-ng-repeat="blog in blogs">
            <div class="divContainer row col-xs-12">
                <div class="col-xs-8">
                    <div class="col-md-12">
                        <h2 class="list-group-item-heading" data-ng-bind="blog.Name"></h2>
                    </div>
                    <div class="col-md-12">
                        <p>{{blog.Description | limitTo: 700}}</p>
                    </div>
                </div>
                <div class="col-xs-12">
                    <span class="col-md-12">
                        <img class="img-responsive imgBlog" ng-src="{{blog.ImageBlog}}" style="max-height: 200px;" />
                    </span>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-8">
                        <div class="col-md-6">
                            <a href="{{blog.OriginalUrl}}"><h5>{{blog.OriginalUrl}}</h5></a>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <h5 class="glyphicon glyphicon-eye-open" data-ng-bind="blog.KViews" style="display: block;"></h5>
                        <h5 class="" data-ng-bind="blog.followers"></h5>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>

