<section data-ng-controller="ArticlesController" ng-init="initCreate()">
    <div class="page-header divContainer col-xs-12" >
        <h1>Nuevo Artículo</h1>
    </div>
    <div>
        <form data-ng-submit="create()" name="articleForm" class="form-horizontal divContainer col-xs-12" autocomplete="off" novalidate>
            <fieldset>
                <div class="form-group col-xs-10" ng-class="{ 'has-error': articleForm.contentUrl.$dirty && articleForm.contentUrl.$invalid }">
                    <label class="control-label" for="contentUrl">URL</label>
                    <div class="controls">
                        <input ng-change="sendURL()" name="contentUrl" type="url" data-ng-model="contentUrl" id="contentUrl" class="form-control" placeholder="Url" required>
                    </div>
                </div>
                <div class="form-group col-xs-10" ng-class="{ 'has-error': articleForm.title.$dirty && articleForm.title.$invalid }">
                    <label class="control-label" for="title">Título</label>
                    <div class="controls">
                        <input name="title" type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title" required>
                    </div>
                </div>

 
                <div class="form-group col-xs-4">
                    <label class="control-label" for="tag">Categoría</label>
                    <select name="selCategory" class="form-control" id="selCategory" ng-model="category">
                        <option ng-repeat="category in categories.Categories" value="{{category.Name}}">{{category.Name}}</option>
                    </select>
                </div>

                <div class="form-group col-xs-10">
                    <label class="control-label" for="tag">Tags</label>
                    <div class="controls">
                        <div class="input-group">
                            <input ng-keypress="tagEvent($event)" name="Tag" type="text" data-ng-model="tag" id="tag" class="form-control" placeholder="Tags">
                            <span class="input-group-btn">
                                <button type="button" ng-click="addTag()" class="btn btn-primary">Add</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div ng-repeat="tags in tempTagList " class="col-xs-10">
                    <div class="row input-group col-md-4">
                        <label class="form-control">{{tags}}</label>
                        <span class="input-group-btn">
                            <button class="btn btn-danger" ng-click="deleteTag($index)">X</button>
                        </span>
                    </div>
                    <br>
                </div>

                <!-- Sección del BlogAnalizer Disable Content y ImageUrl -->
                <div class="form-group col-xs-10" ng-class="{ 'has-error': articleForm.content.$dirty && articleForm.content.$invalid }">
                    <label class="control-label" for="content">Resumen contenido</label>
                    <div class="controls">
                        <textarea style="height: 200px;" name="content" data-ng-model="content" id="content" class="form-control" placeholder="Content" required></textarea>
                    </div>
                </div>
                <div class="form-group col-xs-10" ng-class="{ 'has-error': articleForm.imageUrl.$dirty && articleForm.imageUrl.$invalid }">
                    <label class="control-label" for="title">Url de la imagen</label>
                    <div class="controls">
                        <input name="title" type="text" data-ng-model="imageUrl" id="imageUrl" class="form-control" placeholder="ImageUrl" required>
                    </div>
                </div>

                <!-- Cuando funcione el blogAnalizer -->
                <div class="form-group col-xs-10" ng-show="sliderShow" ng-init="sliderInit()">
                    <label class="control-label" for="sliderImages">Slide Images</label>
                    <br>
                    <div>
                        <button ng-click="sliderLeft()" class="btn btn-default btn-sm glyphicon glyphicon-chevron-left"></button>
                        <button ng-click="sliderRight()" class="btn btn-default btn-sm glyphicon glyphicon-chevron-right"></button>
                        <div>
                            <img ng-src="{{sliderPosition}}" id="sliderImages" class="img-thumbnail col-md-4 col-lg-4 col-sm-6 col-xs-8" />
                        </div>
                    </div>
                </div>
                <br>
                <div data-ng-show="error" class="text-danger col-xs-10">
                    <strong data-ng-bind="error"></strong>
                </div>
                <div class="form-group col-xs-10">
                    <button type="submit" class="btn btn-success btn-lg">Create</button>
                </div>
            </fieldset>
        </form>
</div>
</section>
