
<div data-ng-controller="HomeController" data-ng-init="find()" xmlns="http://www.w3.org/1999/html">
   
     <h1> Articulos </h1>
    <div data-ng-repeat="article in articles">
        <div data class="container well">
            <div class="col-md-12">
                <span class="col-md-4">
                    <img class="img-responsive" ng-src="{{article.ImageUrl}}" style="max-width:100%;" />
                </span>
                <div class="item col-md-8">
                    <div>
                        <h2 class="list-group-item-heading" data-ng-bind="article.Title"></h2>
                    </div>
                </div>
                <div class="col-md-12">
                    <p>{{article.Content | limitTo: 700}}</p>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-4">
                    <h5 class="glyphicon glyphicon-eye-open" data-ng-bind="article.KViews">Views</h5>
                    <h5 class="glyphicon glyphicon-thumbs-up" data-ng-bind="article.KLikes" style="margin-left: 2%;"></h5>
                    <h5 class="glyphicon glyphicon-share" data-ng-bind="article.KShared" style="margin-left: 2%;"></h5>
                </div>
                <div class="col-md-3">
                    <a data-ng-href="{{URL}}/blogs/{{article.BlogId}}"><h5 data-ng-bind="'De '+ user"></h5></a>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-2">
                    <a ng-click="goPost()" data-ng-href="{{article.ContentUrl}}" class="btn-link" target="_blank">
                        <h5>Go to the post</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

